{% extends 'base.html.twig' %}

{% block title %}Hello Project5Controller!{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ asset('images/svenligne.png') }}" class="img-fluid rounded" alt="Logo">
            <h1 class="mt-4">CV en Ligne Johan</h1>
        </div>
        <div class="col-md-6">
            <h3>Présentation du projet</h3>
            <p>
                J'ai créé mon premier CV en ligne en utilisant du HTML, SCSS, Bootstrap et JavaScript. Ce projet m'a permis d'explorer ces technologies et de créer un CV interactif et esthétiquement plaisant.
            </p>
            <p>
                J'ai utilisé HTML pour structurer le contenu de mon CV, SCSS pour personnaliser le style avec des feuilles de style en cascade, Bootstrap pour bénéficier d'une mise en page réactive et de composants prêts à l'emploi, et JavaScript pour ajouter des fonctionnalités interactives.
            </p>
            <h3>Réalisations et compétences</h3>
            <p>
                Grâce à l'utilisation de ces technologies, j'ai pu créer un CV en ligne qui se démarque et qui offre une expérience utilisateur fluide. J'ai également pu mettre en pratique mes compétences en design et en branding pour rendre mon CV attrayant visuellement.
            </p>
            <p>
                Ce projet m'a permis d'améliorer mes compétences en développement web tout en créant un outil pratique pour présenter mes compétences et mon parcours professionnel. J'ai également appris à utiliser des outils de versionnement tels que Git pour gérer les modifications de mon CV et le déployer facilement sur différents environnements.
            </p>
            <p>
                Les compétences que j'ai acquises lors de la création de ce CV en ligne me servent désormais dans d'autres projets web et me permettent de continuer à développer mes compétences en tant que développeur web.
            </p>
        </div>
    </div>
</div>
{% endblock %}
