{% extends 'base.html.twig' %}

{% block title %}Hello Project4Controller!{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ asset('images/revolut.png') }}" class="img-fluid rounded" alt="Logo">
            <h1 class="mt-4">Intégration API Paiement Revolut</h1>
        </div>
        <div class="col-md-6">
            <h3>Présentation du projet</h3>
            <p>
                Je suis fier de présenter mon projet d'intégration de l'API de paiement Revolut dans le cadre de mon portfolio. Ce projet consistait à mettre en place un système de paiement sécurisé pour un site marchand, en utilisant l'API de paiement de Revolut et en intégrant également le système de facturation d'InvoicePlane.
            </p>
            <p>
                Grâce à cette intégration réussie, j'ai pu offrir aux utilisateurs une expérience de paiement fluide et sécurisée, tout en simplifiant le processus de facturation pour l'entreprise. L'utilisation de l'API de paiement de Revolut a permis d'assurer la sécurité des transactions et de garantir la confiance des clients.
            </p>
            <p>
                En intégrant le système de facturation d'InvoicePlane, j'ai pu créer des factures automatiques précises et les envoyer facilement aux clients. Cela a permis d'améliorer l'efficacité opérationnelle de l'entreprise et de simplifier la gestion des transactions financières.
            </p>
            <h3>Réalisations et compétences</h3>
            <p>
                Ce projet a été une opportunité pour moi de mettre en pratique mes compétences en intégration d'API et en développement web. J'ai également développé une compréhension approfondie des processus de paiement en ligne et de la gestion des transactions financières.
            </p>
            <p>
                Je suis fier du résultat final de ce projet, qui a contribué à améliorer l'expérience utilisateur et à renforcer la sécurité des paiements pour l'entreprise.
            </p>
        </div>
    </div>
</div>
{% endblock %}
