<main>
<div class="container">
    <footer>
        <div class="row">
            <!-- Colonne de gauche -->
            <div class="col-md-4">
                <div class="footer-content">
                    <div class="footer-heading">
                        <h3>Intéressé à travailler ensemble ?</h3>
                        <p>Je serais ravi de discuter de mes projets et de répondre à vos questions.</p>
                    </div>
                    <div class="footer-button">
                        <a href="{{ path('app_contact') }}" class="btn btn-primary">Envoyer-moi un message <i class="fa-solid fa-paper-plane fa-xl" style="color: #ffffff;"></i></a>
                    </div>
                </div>
            </div>

            <!-- Colonnes du milieu -->
            <div class="col-md-4">
                <div class="footer-info">
                    <ul class="contact-info list-unstyled">
                        <li><i class="fas fa-envelope"></i> johan.mahe92@gmail.com</li>
                        <li><i class="fas fa-phone"></i> 06.21.44.64.21</li>
                        <li><i class="fas fa-map-marker"></i> Noyal Chatillon sur Seiche, 35230</li>
                    </ul>
                </div>
            </div>

            <!-- Colonnes de droite -->
            <div class="col-md-4">
                <h3>Réseaux</h3>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="nav-link" href="https://github.com/zeronze">
                            <i class="fab fa-github fa-2x" style="color: #ffffff;"></i>
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a class="nav-link" href="https://www.linkedin.com/in/johan-mahe-363086237/">
                            <i class="fab fa-linkedin fa-2x" style="color: #ffffff;"></i>
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a class="nav-link" href="https://www.facebook.com/people/Johan-Mah%C3%A9/pfbid0WDqDsUxqjoUWTVRFoedfkYANLcb99kMGEra9dtFG16P3joZmtr3TKQfU7R9Kn6F7l/">
                            <i class="fab fa-facebook fa-2x" style="color: #ffffff;"></i>
                        </a>
                    </li>

                 <li class="list-inline-item">
    <a class="nav-link" href="https://discord.com/users/zeronze">
        <i class="fab fa-discord fa-2x" style="color: #ffffff;"></i>
    </a>
</li>
                    

                    <!-- Ajoutez d'autres icônes ou liens vers vos réseaux sociaux ici -->
                </ul>
            </div>
        </div>
    </footer>
    <p class="mt-2">Conçu et développé à Rennes 

© 2023 Mahé johan</p>
</div>
</main>